LIfeThroughALens.Domain/obj/
LifeThroughALens/obj/
LifeThroughALens.Maps/obj/
Tests/LifeThroughALens.UnitTests/obj/
Tests/LifeThroughALens.IntegrationTests/obj/
LifeThroughALens.Maps/bin/
Tests/LifeThroughALens.UnitTests/bin/
LIfeThroughALens.Domain/bin/
Lib/Sitecore/*.dll
Lib/Sitecore/*.xml
Tests/LifeThroughALens.IntegrationTests/bin/
LifeThroughALens/bin/
Lib/Sitecore/*.lic
