LIfeThroughALens.Domain/obj/
LifeThroughALens/obj/
LifeThroughALens.Maps/obj/
Tests/LifeThroughALens.UnitTests/obj/
Tests/LifeThroughALens.IntegrationTests/obj/
LifeThroughALens.Maps/bin/
Tests/LifeThroughALens.UnitTests/bin/
LIfeThroughALens.Domain/bin/
Lib/Sitecore/*.dll
Lib/Sitecore/*.xml
Tests/LifeThroughALens.IntegrationTests/bin/
LifeThroughALens/bin/
Lib/Sitecore/*.lic
LIfeThroughALens.Domain/LifeThroughALens.Domain.v2.ncrunchproject
Tests/LifeThroughALens.IntegrationTests/LifeThroughALens.IntegrationTests.v2.ncrunchproject
LifeThroughALens.Maps/LifeThroughALens.Maps.v2.ncrunchproject
LifeThroughALens.v2.ncrunchsolution
LifeThroughALens/LifeThroughALens.v2.ncrunchproject
Tests/LifeThroughALens.UnitTests/LifeThroughALens.UnitTests.v2.ncrunchproject
LifeThroughALens.sln.DotSettings.user
LifeThroughALens.v12.suo
Tests/LifeThroughALens.IntegrationTests.Unity/bin/
Tests/LifeThroughALens.IntegrationTests.Common/obj/
Tests/LifeThroughALens.IntegrationTests.Unity/obj/
Tests/LifeThroughALens.IntegrationTests.Common/bin/
