<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Agnostic.IoC.Core" version="0.31" targetFramework="net451" />
  <package id="Agnostic.IoC.Unity" version="0.31" targetFramework="net451" />
  <package id="Cardinal.Glass.Extensions.Mapping" version="0.20" targetFramework="net451" />
  <package id="Castle.Core" version="3.2.0" targetFramework="net451" />
  <package id="Glass.Agnostic.IoC" version="0.20" targetFramework="net451" />
  <package id="Glass.Mapper" version="3.0.12.24" targetFramework="net451" />
  <package id="Glass.Mapper.Sc" version="3.2.2.44" targetFramework="net451" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net451" />
</packages>